<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>{{ title }}</title> 
  <link rel="stylesheet" href="/css/style.css">
</head> 
<body class="{{ bodyClass }}" > 
  <header>
    <div>
      <div>
        <a href="/">Sadie Lee</a>
        <a href="/work">Work</a>
        <a href="/misc">Misc</a>
      </div>
    </div>
  </header> 
  <main> 
    <div>
      <section>
        {{ content | safe }}
      </section>
    </div>
  </main> 
  <footer></footer> 
</body> 
</html>