---
title: Sadie_Lee_Resume
layout: resume-layout.njk
---

<div class="resume">

  <header class="resume-header">
    <a href="/">
        <h1>{{ resume.name }}</h1>
    </a>

    <div class="contact-grid">
      {% for item in resume.contact %}
        <div class="contact-item">
          <a href="{{ item.link }}">
            {{ item.text }}
          </a>
        </div>
      {% endfor %}
    </div>
  </header>

  {# Experience #}
  <section class="resume-section">
    <h2>Experience</h2>

    <hr />

    {% for exp in resume.experience %}
      <article class="resume-entry">
        <div class="entry-content">
          <strong>{{ exp.company }}</strong>

          <div class="entry-subtitle">
            {{ exp.title }}
          </div>
        </div>

        <time class="entry-date">
          {{ exp.date }}
        </time>

        {% if exp.bullets %}
          <ul class="entry-bullets">
            {% for bullet in exp.bullets %}
              <li>{{ bullet }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </article>
    {% endfor %}
  </section>

  {# Education #}
  <section class="resume-section">
    <h2>Education</h2>

    <hr />

    {% for edu in resume.education %}
      <article class="resume-entry">
        <div class="entry-content">
          <strong>{{ edu.school }}</strong>

          <div class="entry-subtitle">
            {{ edu.degree }}
          </div>
        </div>

        <time class="entry-date">
          {{ edu.date }}
        </time>

        {% if edu.details %}
          <div class="entry-details">
            {{ edu.details }}
          </div>
        {% endif %}
      </article>
    {% endfor %}
  </section>

  {# Awards #}
  <section class="resume-section">
    <h2>Honors and Awards</h2>

    <hr />

    {% for award in resume.awards %}
      <article class="resume-entry resume-entry--compact">
        <div class="entry-content">
          <strong>{{ award.title }}</strong>
        </div>

        <time class="entry-date">
          {{ award.date }}
        </time>
      </article>
    {% endfor %}
  </section>

  {# Technical Skills #}
  <section class="resume-section">
    <h2>Technical Skills</h2>

    <hr />

    <ul class="skills-list">
      {% for item in resume.skills %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </section>

  {# Research #}
  {% if resume.publications %}
    <section class="resume-section">
    <h2>Research</h2>

    <hr />

    {% for entry in resume.publications %}
      <article class="resume-teaching">
        <div class="entry-content">
          <strong>{{ entry.title }}</strong>

          <div class="entry-subtitle">
            {{ entry.authors }}
          </div>
        </div>

        {% if entry.details %}
          <div class="entry-details">
            {{ entry.details }}
          </div>
        {% endif %}
      </article>
    {% endfor %}
      
    </section>
  {% endif %}

  {# Teaching #}
  {% if resume.teaching %}
    <section class="resume-section">
    <h2>Teaching and Volunteering</h2>

    <hr />

    {% for entry in resume.teaching %}
      <article class="resume-teaching">
        <div class="entry-content">
          <strong>{{ entry.company }}</strong>

          <div class="entry-subtitle">
            {{ entry.title }}
          </div>
        </div>

        <time class="entry-date">
          {{ entry.date }}
        </time>

        {% if entry.details %}
          <div class="entry-details">
            {{ entry.details }}
          </div>
        {% endif %}
      </article>
    {% endfor %}
  </section>
  {% endif %}

  <a href="/assets/Sadie_Lee_Resume.pdf" class="print-link" download>Download resume</a>

</div>